@CHARSET "UTF-8";
table, th {
	border: 1px solid;
}
td {
	border: 1px inset;
}
#blanched {
	background-color: #ffebcd;
}
#cadet-blue {
	background-color: #5f9ea0;
}
#burly-wood {
	background-color: #deb887;
}
#dark-green {
	background-color: #556b2f;
}
#hot-pink {
	background-color: #ff69b4;
}
#papaya {
	background-color: #ffefd5;
}